<header class="p-3">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a href="/" class="nav-link navbar-brand px-2">
        <h1>
          {{appTitle}}
        </h1>
      </a>
      <form class="col-6 mx-2 mb-0 d-flex" role="search">
        <input
          type="search"
          class="form-control mr-1"
          placeholder="Search..."
          aria-label="Search"
        />
        <button class="btn btn-outline-primary" type="submit">
          {{icon "search"}}
        </button>
      </form>
      {{#if user}}
        <div class="text-end">
          <form action="/logout">
            <button type="submit" class="btn btn-secondary">Log out</button>
          </form>
          <a href="#" type="button" class="btn btn-primary">
            {{icon "user"}}
          </a>
        </div>

      {{else}}

        <div class="text-end">
          <a class="btn btn-primary" href="/login">Log in</a>
        </div>

      {{/if}}

    </div>
  </div>
</header>